	{% load static %}
	<!-- Header Start -->
	<header class="main-header">
		<div class="header-sticky">
			<nav class="navbar navbar-expand-lg">
				<div class="container">
					<!-- Logo Start -->
					<a class="navbar-brand" style="font-weight:bold;" href="{% url 'main' %}">
						{% comment %} <img src="{% static 'images/logo.svg' %}" alt="Logo"> {% endcomment %}
						<span style="color:#2d3d7e;">ADRON<span style="color:#ed7d3a; ">HOMES</span>
						
					</a>
					<!-- Logo End -->

					<!-- Main Menu start -->
					<div class="collapse navbar-collapse main-menu">
						<ul class="navbar-nav mr-auto" id="menu">
							{% comment %} <li class="nav-item submenu"><a class="nav-link" href="index-2.html">Home</a> {% endcomment %}
							{% comment %} <li class="nav-item"><a class="nav-link" href="/">Home</a></li> {% endcomment %}

								
							</li>
							<li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About us</a></li>
							

							{% comment %} <li class="nav-item"><a class="nav-link" href="'/listing'">Listing</a></li> {% endcomment %}
							{% comment %} <li class="nav-item"><a class="nav-link" href="/property-single">Property</a></li> {% endcomment %}
							{% comment %} <li class="nav-item submenu"><a class="nav-link" href="#">Pages</a> {% endcomment %}
								<ul>
									{% comment %} <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li> {% endcomment %}
									{% comment %} <li class="nav-item"><a class="nav-link" href="blog-single.html">Blog Single</a></li> {% endcomment %}
									{% comment %} <li class="nav-item"><a class="nav-link" href="agents.html">Agents</a></li> {% endcomment %}
									{% comment %} <li class="nav-item"><a class="nav-link" href="faq.html">FAQs</a></li> {% endcomment %}
									<li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact us</a></li>
									<li class="nav-item"><a class="nav-link" href="{{request.user}}">Contact us</a></li>
									
								</ul>
							</li>
							{%if request.user.is_authenticated %}
							<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Welcome {{request.user}}</a></li>
							{%else%}
							<li class="nav-item "><a class="nav-link" href=" {% url 'sign-in' %}">Login</a></li>
							{%endif%}
							<li class="nav-item highlighted-menu"><a class="nav-link" href="{% url 'sign-up' %}">Sign Up</a></li>
							
						
						</ul>
					</div>
					<!-- Main Menu End -->

					{% comment %} <li class="nav-item nav-item-has-children">
						{%if request.user.is_authenticated %}
						<a href="{% url 'home' %}" class="nav-link-item drop-trigger">Home
						</a>
						
					  </li>
					  
					  <li class="nav-item nav-item-has-children">
						{%else%}
						<a href="{% url 'login'%}" class="nav-link-item drop-trigger">Login
						</a>
						
					  </li>
					  {%endif%} {% endcomment %}

					<div class="navbar-toggle"></div>
				</div>
			</nav>

			<div class="responsive-menu"></div>
		</div>
	</header>
	<!-- Header End -->